<form class="needs-validation" [formGroup]="credentialForm" (ngSubmit)="onSubmit()">
  <div class="container">
  <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" formControlName="username">
      <div class="form-control-feedback"  *ngFor="let validation of errors.account_validation_messages.username">
        <p class="bi bi-exclamation-triangle text-danger" *ngIf="credentialForm.get('username')?.hasError(validation.type) &&
            (credentialForm.get('username')?.dirty || credentialForm.get('username')?.touched)">
          {{validation.message}}
        </p>
      </div>
    </div>
  </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control ui-state-error" formControlName="email">
        <div class="form-control-feedback"  *ngFor="let validation of errors.account_validation_messages.email">
          <p class="bi bi-exclamation-triangle text-danger" *ngIf="credentialForm.get('email')?.hasError(validation.type) &&
           (credentialForm.get('email')?.dirty || credentialForm.get('email')?.touched)">
            {{validation.message}}
          </p>
        </div>
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" formControlName="password">
        <div class="form-control-feedback"  *ngFor="let validation of errors.account_validation_messages.password">
          <p class="bi bi-exclamation-triangle text-danger" *ngIf="credentialForm.get('password')?.hasError(validation.type) &&
            (credentialForm.get('password')?.dirty || credentialForm.get('password')?.touched)">
            {{validation.message}}
          </p>
        </div>
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Confirm Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" formControlName="confirmPassword">
        <div class="form-control-feedback"  *ngFor="let validation of errors.account_validation_messages.confirm_password">
          <p class="bi bi-exclamation-triangle text-danger" *ngIf="credentialForm.get('confirmPassword')?.hasError(validation.type) &&
            (credentialForm.get('confirmPassword')?.dirty || credentialForm.get('confirmPassword')?.touched)">
            {{validation.message}}
          </p>
        </div>
      </div>
    </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
  </div>
</form>
<!--<table class="table table-striped">-->
<!--  <thead>-->
<!--    <th scope="col">Username</th>-->
<!--    <th scope="col">Email</th>-->
<!--    <th scope="col">Password</th>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let credential of credentialForm">-->
<!--    <td>{{credential.username}}</td>-->
<!--    <td>{{credential.email}}</td>-->
<!--    <td>{{credential.password}}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

<pre>{{credentialForm.get("username")?.value | json}}</pre>
<pre>{{credentialForm.value | json}}</pre>
<pre>{{credentialForm.get("username")?.valid | json}}</pre>

<pre>{{credentialForm.get("email")?.value | json}}</pre>
<pre>{{credentialForm.value | json}}</pre>
<pre>{{credentialForm.get("email")?.valid | json}}</pre>

<pre>{{credentialForm.get("password")?.value | json}}</pre>
<pre>{{credentialForm.value | json}}</pre>
<pre>{{credentialForm.get("password")?.valid | json}}</pre>

<pre>{{credentialForm.get("confirmPassword")?.value | json}}</pre>
<pre>{{credentialForm.value | json}}</pre>
<pre>{{credentialForm.get("confirmPassword")?.valid | json}}</pre>
